/* Navbar */

.parent {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
  }

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #032E3E;
    border-bottom: 2px outset white;
    border-spacing: 30px;
    height: 38px;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #BDC8D8;
  text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
}
  
.nav__links li a {
    transition: color 0.3s ease 0s;
}
  
.nav__links li a:hover {
    color: #038298;
}

/* Content Page / Contenido */
p{
    width: 245px;
}



.img{
    width:200px;
    height:200px;
    padding:10px 10px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius:20px;
    margin-top:100px;
}

.title{
    flex:0;
    order:1;
    padding-top:30px;
    font-size:35px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
}
.sub-title{
    flex:0;
    order:2;
    padding-top:15px;
    font-weight:100;
}
#pf2{
    flex:0;
    order:3;
    padding-top:15px;
    margin-top:10px;
    width: 600px;
    font-size: 18px;
}
 