<header>
    <div class="parent">
    <div class="navbar">
        <div class=""></div>
        <ul class="nav__links ">
            <li><a href="#">Home</a></li>
            <li><a href="#">Proyectos</a></li>
            <li><a href="#">Sobre mi</a></li>
        </ul>
        <div class=""></div>
    </div>
    
</div>
    <div class="flex-wrapper">
        <div class="flex-1">
        </div>
        <div class="flex-2">
                
            <img class="img" src="assets/img/pfp.jfif" alt='image'>
            <h1 class="title">Leon Collazo Arechaga</h1>
            <h2 class="sub-title">Desarrollador Web Full-Stack</h2>
            <p id="pf2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nostrum dicta sit beatae vitae quo dignissimos totam ad eaque quam aspernatur iusto in earum rem aliquam, dolor eius, deleniti cum.</p>
        </div>
        <div class="flex-3">
        </div>
    </div>
    
</header>