<header>
<div class="header flex-container wrapper">
<div class="flex-container buttons">
<a class="header-icon"><fa-icon class="fa-lg white-icon" icon="home"></fa-icon></a>
<a class="header-icon"><fa-icon class="fa-lg white-icon" icon="user-alt"></fa-icon></a>
<a class="header-icon"><fa-icon class="fa-lg white-icon" icon="toolbox"></fa-icon></a>
</div>
<h1>Leon Collazo Arechaga</h1>
<div class="flex-container socials">
    <a href="https://github.com/p0zzle"><fa-icon class="fa-lg white-icon" [icon]="['fab', 'github']"></fa-icon></a>
    <a href="https://twitter.com/shittymasen"><fa-icon class="fa-lg white-icon" [icon]="['fab', 'twitter']"></fa-icon></a>
    <a href="https://www.linkedin.com/in/le%C3%B3n-collazo-arechaga-a71709199/"><fa-icon class="fa-lg white-icon" [icon]="['fab', 'linkedin']"></fa-icon></a>
</div>
</div>
</header>